common --enable_bzlmod
common --enable_platform_specific_config

build --cxxopt=-std=c++17
build --copt=-Wall
build --copt=-Wextra

build:opt -c opt
build:opt --copt=-O3

build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address

test --test_output=errors

# Demote /usr/local/include so a system-installed gtest (e.g. from Homebrew) does
# not shadow Bazel's @googletest headers when compiling googletest itself.
build:macos --copt=-idirafter
build:macos --copt=/usr/local/include
